
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(..//img/unnamed\ \(1\).jpg);
    font-family: 'Arial', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #e60d55;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #000000;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.choices {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: #16a085;
    border: none;
    color: white;
    padding: 20px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #1abc9c;
}

.game-result {
    margin-top: 30px;
}

h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

#result {
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: bold;
}

.player-result {
    margin-top: 20px;
}

.reset-btn {
    background-color: #e74c3c;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    margin-top: 20px;
}

.reset-btn:hover {
    transform: scale(1.1);
    background-color: #c0392b;
}
